Q1. Pandas version

In [125]:
import pandas as pd
pd.__version__

'2.2.2'

Q2. Records count

In [126]:
df = pd.read_csv('laptops.csv')
len(df)

2160

Q3. Laptop brands

In [127]:
df['Brand'].nunique()

27

Q4. Missing values

In [128]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

Q5. Maximum final price

In [129]:
df[df['Brand']=='Dell']['Final Price'].max()

np.float64(3936.0)

Q6. Median value of Screen

In [130]:
df['Screen'].mean()

np.float64(15.168112244897959)

In [131]:
df['Screen'] = df['Screen'].fillna(df['Screen'].mode())

In [132]:
df['Screen'].mean()

np.float64(15.168112244897959)

Q7. Sum of weights

In [133]:
sum_weights = df[df['Brand']=='Innjoo'][['RAM','Storage','Screen']]
sum_weights

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [134]:
import numpy as np

X =sum_weights.to_numpy()
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [135]:
XTX = np.dot(X.T, X)
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [136]:
XTX_inverse = np.linalg.inv(XTX)

In [137]:
y = [1100, 1300, 800, 900, 1000, 1100]

In [138]:
w = np.dot(np.dot(XTX_inverse, X.T),y)

In [139]:
sum(w)

np.float64(91.2998806299555)